src/wsdl/9c7b838f7da6bfd6baf94b697984bb31.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dpd.com/common/service/LoginService/2.0" xmlns:types="http://dpd.com/common/service/types/LoginService/2.0" xmlns:types_authentication="http://dpd.com/common/service/types/Authentication/2.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://dpd.com/common/service/LoginService/2.0">
  <types>
<xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dpd.com/common/service/LoginService/2.0" xmlns:types="http://dpd.com/common/service/types/LoginService/2.0" xmlns:types_authentication="http://dpd.com/common/service/types/Authentication/2.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dpd.com/common/service/LoginService/2.0">
			<xsd:import namespace="http://dpd.com/common/service/types/LoginService/2.0">
			</xsd:import>
         <xsd:import namespace="http://dpd.com/common/service/types/Authentication/2.0">
         </xsd:import>
		</xsd:schema>
  <xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="http://dpd.com/common/service/types/LoginService/2.0" jaxb:version="2.0" targetNamespace="http://dpd.com/common/service/types/LoginService/2.0" version="1.0">

   <xsd:annotation>
      <xsd:appinfo>
         <jaxb:schemaBindings>
            <jaxb:package name="com.dpd.common.ws.loginservice.v2_0.types"/>
         </jaxb:schemaBindings>
      </xsd:appinfo>
   </xsd:annotation>

	<!-- Input parameter of 'getAuth'-->
	<xsd:element name="getAuth" type="tns:getAuth">
	   <xsd:annotation>
	      <xsd:documentation>Input parameter of getAuth.</xsd:documentation>
	   </xsd:annotation>
	</xsd:element>

	<!-- Output parameter of 'getAuth' -->
	<xsd:element name="getAuthResponse" type="tns:getAuthResponse">
		<xsd:annotation>
	   	<xsd:documentation>Output parameter of getAuth.</xsd:documentation>
	  	</xsd:annotation>
	</xsd:element>

	<!-- Exception thrown of 'getAuth' -->
	<xsd:element name="LoginException" type="tns:LoginException">
   	<xsd:annotation>
      	<xsd:documentation>Thrown if authentication fails.</xsd:documentation>
     	</xsd:annotation>
	</xsd:element>

	<!-- Login object -->
   <xsd:complexType name="Login">
      <xsd:annotation>
         <xsd:documentation>Is created when a user logs in and contains its login information.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>

            <xsd:element maxOccurs="1" minOccurs="1" name="delisId" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>The user's DELIS-Id.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="customerUid" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>The user's customer uid. This is needed for subaccounts, usually this is equal to DELIS-Id</xsd:documentation>
            </xsd:annotation>
         </xsd:element>

            <xsd:element maxOccurs="1" minOccurs="1" name="authToken" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>The Authtoken, needed for other web service calls.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="depot" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>The depot, to which the user is assigned.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>


	<xsd:complexType name="LoginException">

        <xsd:sequence>
         <xsd:element minOccurs="0" name="additionalData" type="xsd:string">
         	<xsd:annotation>
         		<xsd:documentation>Additional data for an error.</xsd:documentation>
         	</xsd:annotation></xsd:element>
         <xsd:element minOccurs="0" name="additionalInfo" type="xsd:string">
         	<xsd:annotation>
         		<xsd:documentation>Additional info for an error in user language.</xsd:documentation>
         	</xsd:annotation></xsd:element>
         <xsd:element minOccurs="0" name="errorClass" type="xsd:string">
         	<xsd:annotation>
         		<xsd:documentation>The class which creates the error.</xsd:documentation>
         	</xsd:annotation></xsd:element>
         <xsd:element minOccurs="0" name="errorCode" type="xsd:string">
         	<xsd:annotation>
         		<xsd:documentation>The error code.</xsd:documentation>
         	</xsd:annotation></xsd:element>
         <xsd:element minOccurs="0" name="fullMessage" type="xsd:string">
         	<xsd:annotation>
         	   <xsd:documentation>The complete message text for the error with additional info in user language.
         		</xsd:documentation>
         	</xsd:annotation></xsd:element>
         <xsd:element minOccurs="0" name="language" type="xsd:string">
         	<xsd:annotation>
         		<xsd:documentation>Language for messages.</xsd:documentation>
         	</xsd:annotation></xsd:element>
         <xsd:element minOccurs="0" name="message" type="xsd:string">
         	<xsd:annotation>
         		<xsd:documentation>The complete message text for the error in user language.</xsd:documentation>
         	</xsd:annotation></xsd:element>
         <xsd:element minOccurs="0" name="shortMessage" type="xsd:string">
         	<xsd:annotation>
         		<xsd:documentation>The short info text for the error in user language.</xsd:documentation>
         	</xsd:annotation></xsd:element>
         <xsd:element minOccurs="0" name="systemFullMessage" type="xsd:string">
         	<xsd:annotation>
         	   <xsd:documentation>The complete message text for the error with
additional info in system language.</xsd:documentation>
         	</xsd:annotation></xsd:element>
         <xsd:element minOccurs="0" name="systemMessage" type="xsd:string">
         	<xsd:annotation>
         		<xsd:documentation>The complete message text for the error in system language.</xsd:documentation>
         	</xsd:annotation></xsd:element>
         <xsd:element minOccurs="0" name="systemShortMessage" type="xsd:string">
         	<xsd:annotation>
         		<xsd:documentation>The short info text for the error in system language.</xsd:documentation>
         	</xsd:annotation></xsd:element>
      </xsd:sequence>
    </xsd:complexType>

	<!-- Type 'getAuth' for authentication -->
	<xsd:complexType name="getAuth">
       <xsd:sequence>
       	<xsd:element maxOccurs="1" minOccurs="1" name="delisId" type="xsd:string">
       		<xsd:annotation>
					<xsd:documentation>The DELIS-Id of the user.</xsd:documentation>
				</xsd:annotation>
       	</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="password" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The password of the user.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="messageLanguage">
               <xsd:annotation>
                  <xsd:documentation>The language (Java format) for messages.
"de_DE" for german messages.
"en_US" for english messages.
                  </xsd:documentation>
               </xsd:annotation>
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:minLength value="5"/>
                     <xsd:maxLength value="5"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

	<!-- Type for authentification response -->
	<xsd:complexType name="getAuthResponse">
		<xsd:sequence>
			<xsd:element name="return" type="tns:Login"/>
		</xsd:sequence>
   </xsd:complexType>

</xsd:schema><xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="http://dpd.com/common/service/types/Authentication/2.0" jaxb:version="2.0" targetNamespace="http://dpd.com/common/service/types/Authentication/2.0" version="1.0">


   <xsd:annotation>
      <xsd:appinfo>
         <jaxb:schemaBindings>
            <jaxb:package name="com.dpd.common.ws.authentication.v2_0.types"/>
         </jaxb:schemaBindings>
      </xsd:appinfo>
   </xsd:annotation>

   <xsd:element name="authentication">
      <xsd:annotation>
         <xsd:documentation>The data structure for authentication data.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
            <xsd:annotation>
               <xsd:documentation>The data structure for authentication data.</xsd:documentation></xsd:annotation>
            <xsd:sequence>
            <xsd:element minOccurs="1" name="delisId">
               <xsd:annotation>
                  <xsd:documentation>The delis user id for authentication.</xsd:documentation>
               </xsd:annotation>
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="10"/>
                     <xsd:minLength value="8"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" name="authToken">
               <xsd:annotation>
                  <xsd:documentation>The token for authentication. Field authToken of Login, as a result of
Method "getAuth" of LoginService.

                  </xsd:documentation>
               </xsd:annotation>
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:minLength value="0"/>
                     <xsd:maxLength value="64"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="messageLanguage">
               <xsd:annotation>
                  <xsd:documentation>The language (Java format) for messages.
"de_DE" for german messages.
"en_US" for english messages.
                  </xsd:documentation>
               </xsd:annotation>
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:minLength value="5"/>
                     <xsd:maxLength value="5"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>

   <xsd:element name="authenticationFault">
      <xsd:annotation>
         <xsd:documentation>The data structure for authentication errors.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
            <xsd:annotation>
               <xsd:documentation>The data structure for authentication errors.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
            <xsd:element minOccurs="1" name="errorCode">
               <xsd:annotation>
                  <xsd:documentation>The error code. Valid codes:
    NoAccessAuthenticationFault=-1
    NoRightsAuthenticationFault=-2
                  </xsd:documentation>
               </xsd:annotation>
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" name="errorMessage">
               <xsd:annotation>
                  <xsd:documentation>The error message text.
                  </xsd:documentation>
               </xsd:annotation>
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:minLength value="1"/>
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema></types>
  <message name="LoginException">
    <part element="types:LoginException" name="fault">
    </part>
  </message>
  <message name="AuthenticationFaultMsg">
    <part element="types_authentication:authenticationFault" name="fault">
    </part>
  </message>
  <message name="getAuth">
    <part element="types:getAuth" name="parameters">
    </part>
  </message>
  <message name="getAuthResponse">
    <part element="types:getAuthResponse" name="parameters">
    </part>
  </message>
  <portType name="LoginService">
    <operation name="getAuth">
<wsdl:documentation>
Creates an authentication token for the committed user if user name and password are valid.
The authentication token is needed for accessing other DPD Web Services.

Sample request:

SOAP:
&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:ns="http://dpd.com/common/service/types/LoginService/2.0"&gt;
   &lt;soapenv:Header/&gt;
   &lt;soapenv:Body&gt;
       &lt;ns:getAuth&gt;
           &lt;delisId&gt;&lt;your delisId&gt;&lt;/delisId&gt;
           &lt;password&gt;&lt;your password&gt;&lt;/password&gt;
           &lt;messageLanguage&gt;de_DE&lt;/messageLanguage&gt;
       &lt;/ns:getAuth&gt;
   &lt;/soapenv:Body&gt;
&lt;soapenv:Envelope&gt;

REST:
URL: &lt;server:port&gt;&lt;path&gt;/LoginService/V2_0/getAuth
JSON-Data for POST-Request (for GET-Request data must send with parameter "request" and for
JSONP the Parameter "jsonpcallback" can be used, to send a padding function name):

{
 "delisId" : "&lt;your delisId&gt;",
 "password": "&lt;your password&gt;",
 "messageLanguage":"en_EN"
}

REST-Result, without error:

{
   "getAuthResponse": {"return":    {
      "delisId": "&lt;your delisId&gt;",
      "customerUid": "&lt;your customerUid&gt;",
      "authToken": "&lt;your authentication token&gt;",
      "depot": "&lt;your customerUid&gt;"
   }},
   "status":    {
      "type": "OK",
      "code": "200",
      "message": "valid"
   }
}

REST-Result, if an error occurred:

{"status": {
   "type": "AuthenticationFault",
   "code": "&lt;Error code, e.g. LOGIN_8&gt;",
   "message": "&lt;Error message, e.g. The combination of user and password is invalid.&gt;"
}}

Additional REST-State on system error:
Error-Code: 100
Error-Type: SystemFault
Error-Message: &lt;Message, which describe the error&gt;
</wsdl:documentation>
      <input message="tns:getAuth">
    </input>
      <output message="tns:getAuthResponse">
    </output>
      <fault message="tns:AuthenticationFaultMsg" name="AuthenticationFault">
<wsdl:documentation>Error codes:
				</wsdl:documentation>
    </fault>
    </operation>
  </portType>
  <binding name="LoginService_2_0_SOAP" type="tns:LoginService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAuth">
<wsdl:documentation>Creates an authentication token for the committed user if user name and password are
					valid.
				</wsdl:documentation>
      <soap:operation soapAction="http://dpd.com/common/service/LoginService/2.0/getAuth"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationFault">
        <soap:fault name="AuthenticationFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="LoginService-Public_2_0">
    <port binding="tns:LoginService_2_0_SOAP" name="LoginService_2_0_SOAP">
      <soap:address location="https://public-ws-stage.dpd.com/services/LoginService/V2_0/"/>
    </port>
  </service>
    <jaxws:bindings>
      <jaxws:package name="com.dpd.common.ws.loginservice.v2_0"/>
   </jaxws:bindings>
</definitions>
